.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(160, 168, 172);
  
}

.drum-pads {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.drum-pad {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  outline: none;
  cursor: pointer;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  transition: all 0.3s ease;
}